<h1>View#list</h1>
<p>Find me in app/views/view/list.html.erb</p>

<h1> nihaohao好啊 </h1>
	
<p> 
	It is now <%= @time %>
</p>

<p>Edit: <%= link_to "Edit", manager_edit_path %></p>

<p>New: <%= link_to "New", manager_new_path %></p>

<p>Delete: <%= link_to "Remove", manager_remove_path %></p>

<p>
	<% for blog in @blogs %>
		<li>blog: <%= blog %>  </li>
	<% end %>
</p>
